.item{
    list-style: none;
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    border: 1px solid #9E9E9E;
    border-radius: 8px;
    padding: 10px;
}
.status{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #515151;
    margin-right:15px;
    margin-left: 15px;
}
.avatar{
    margin-right: 15px;
}
.name{
    font-weight: 700;
    font-size: 24px;
}